.container-produtos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  padding: 20px;
}

.lista-produtos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  width: 100%;
}

.imagem-produto {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 12px;
  display: block;
}

.card-produto {
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, .15);
  background-color: white;
}

.card-produto h2 {
  margin-bottom: 10px;
  color: black;
}

.card-produto p {
  min-height: 60px;
}

.botoes {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 15px;
}

.botoes button {
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  color: rgb(82, 78, 78);
  font-weight: bold;
  transition: .2s;
}

.botoes button:active {
  transform: scale(.95);
}

.resumo {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  padding: 20px;
}
